body {
  background:#eef4f7;
  padding:0px;
  margin:0px;
}

a {
  text-decoration: none;
}
.bg-whiite {
  background: white;
}
.width-600 {
  max-width: 600px;
}
.width-50{
  width: 50%;
}
.center {
  margin: 0 auto;
}

.display-inline{
  display: inline;
}
.bottom-links{
  display: inline-block;
  float: left;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.sign-in-box {
  margin-top: 120px;
}
.input-box {
    width:94%;
    padding: 8px 18px;
    font-size: 14px;
    margin-bottom: 20px;
    background: #FFF;
    border: 1px solid #eef4f7;
    border-radius: 0;
    outline: 0;
    color: #000;
}

.input-button {
    width:100%;
    padding: 8px 18px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #eef4f7;
    border-radius: 0;
    outline: 0;
    color: #000;
}

.input-label {

}

.mb-20 {
  margin-bottom: 20px;
}

.spacer{
  width: inherit;
  margin: 10px 0 10px;
}
